<!doctype html>
<html lang="en">
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="favicon.ico" />
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl">
            {% block pagehead %}{% endblock %}
            </div>
        </div>
        
        {% block flash %}
        {%   include 'flash.twig' %}
        {% endblock %}
        
        {% block body %}{% endblock %}
    </div>
    
    <script src="./vendors~index.bundle.js"></script>
    <script src="./index.bundle.js"></script>
</body>
</html>
